.find .friend {
    margin-bottom: 0;
}

.find .find__header-list {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    margin-top: 40px;
}

.find .header-btn__title {
    display: block;
    margin-top: 20px;
    font-size: 14px;
}

.find .header-btn {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.find .header-btn__icon {
    font-size: 12px;
    opacity: 0.8;
}

.find .find__recommended {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #f7f7f7;
}

.find .find__title {
    font-size: 12px;
    opacity: 0.7;
    margin-bottom: 20px;
}
